body{
	
	background-image:url('images/wood.jpg');
	background-size: cover;
	background-position: center bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;
}


/* FIRST PAGE */


h1 ,h2 ,h3{position: relative;
	margin: auto;
	display: none;
	width: 500px;
	text-shadow:2px 2px 5px red;
	}

h1{
	font-size: 70px;
	
}
#story1,#story2,#story3,
#story4,#story5,#story6{
	width:500px;
	text-align:justify;
	position: relative;
	top: 120px;
	left: 430px;
	font-size:24px;
	font-family:Georgia;
	text-shadow:1px 1px blue;
	font-size:26px;

}
h2{
	position:relative;
	top:100px;
	left:80px;
	font-size:26px;
	text-align:justify;
}
h3{
	position:relative;
	top:100px;
	left:0px;
	font-family:Georgia;
	font-size:26px;
	text-align:justify;
}

#result{

	font-family: Georgia, serif;
	font-size: 26px;
	color: #fff;
	text-shadow: 2px 2px red ;
	position:relative;
	top: 270px;
	left:430px;
}



/* SECOND PAGE*/


p{position: relative;
	display: none;
	top: 0px;}

.ingr:hover > p{ 
	display:block;
font-family: Georgia;
font-size: 20px;
text-align:center;
position:relative;
left:-60px;
color: #fff;
text-shadow: 2px 2px blue;
 }


.ingr {
	
	width: 190px;
	height:50px;
	transition: 5s;
	-moz-transition:5s;
	-webkit-transition: 5s;

}
button{
	    position: relative;
    top: 200px;
    background-image: url(images/button.gif);
    background-size: contain;
    background-color: rgba(25, 5, 1, 0);
    right: 0px;
    width: 150px;
    color: #5e5568;
    font-size: 30px;
    font-weight: bold;
    height: 50px;
}
#cockroach {
	background-image: url('images/eye.png');
	background-size: contain;
	background-repeat: no-repeat;


}
#tarantula{
	background-image: url('images/tarantula.png');
	background-size: contain;
	background-repeat: no-repeat;
}
#pirana{
	background-image: url('images/piranq.png');
	background-size: contain;
	background-repeat: no-repeat;
}
#eye{
	background-image: url('images/lizzard.png');
	background-size: contain;
	background-repeat: no-repeat;
}
#apple{
	background-image: url('images/apple.png');
	background-size: contain;
	background-repeat: no-repeat;
}
#snail{
	background-image: url('images/unnamed.png');
	background-size: contain;
	background-repeat: no-repeat;
}
#hair{
	background-image: url('images/gligan.png');
	background-size: contain;
	background-repeat: no-repeat;
}
#cockroach{
	background-image: url('images/cockroach.png');
	background-size: contain;
	background-repeat: no-repeat;
}
#teeths{
	background-image: url('images/cobra.png');
	background-size: contain;
	background-repeat: no-repeat;
}
#scorpio{
	background-image: url('images/scorpio.png');
	background-size: contain;
	background-repeat: no-repeat;
}
#lizzard{
	background-image: url('images/liz.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.magic{
	width: 280px;
	height: 150px;
	background-image: url('images/pan1.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top: 490px;
	left: 45%;
	z-index: 5;

}

.lid{
	width:240px;
	height:150px;
	background-image: url('images/pan2.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top: 480px;
	left: 45%;
	z-index: -2;
}
.fire{
    width: 400px;
    height: 150px;
    background-image: url('images/fire.gif');
    background-size: contain;
    position: absolute;
    bottom: 0px;
    left: 530px;
	z-index: -3;
}


